tr,td,th {
    table-layout: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}

.img-biere {
    height: 400px;
    width: 100px;
}

li {
    padding-left: 50px;
}

.no-margin {
    margin: 0;
    height: 2px;
}

.black-txt {
    color: black;
}

.blue {
    background-color: cyan;
}