#beerPhoto {
    height: 30em;
}

#foodPairing {
    margin-left: 1em;
}

.alignCenterTextFooter{
    text-align: center;
}

.spacer {
    margin: 4em;
}

.dataName {
    font-weight: 700;
}

.customContainer {
    margin: 0 auto;
    width: 90%;
}
