body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.beer-container {
    margin-top: 3rem;
}

.beer-img {
    height: 300px;
    background-size: contain;
}

.beer-details {
    margin-left: 2rem;
}

.beer-comment {
    margin-top: 5rem;
}

.beer-description {
    padding-right: 5rem
}

.beer-navbar {
    position: sticky!important;
    top: 0!important;
}

.beer-footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.beer-buttons {
    position: absolute;
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);
}

.beer-edit-button {
    position: absolute;
    bottom: 15%;
    right: 5rem;
    border-radius: 2rem;
}
