nav {
	position: fixed;
	top: 0;
	z-index: 1;
}

.container {
	margin-top: 80px;
}

.left-col {
	position: sticky;
}

strong, th {
    color: #004d40;
    font-weight: 600;
}

/* IMAGE AND INFO COLLECTION */
.img-wrapper {
    max-width: 33.3%;
}

img {
    max-height: 35vh;
    margin: 10px 10px;
}

li > ul {
	padding-left: 30px;
}

li > ul > li {
	list-style-type: circle;
}


/* TAGLINE */
.tagline {
    margin-top: 5px;
}

.tagline::before, .tagline::after {
	font-family: Times, serif;
	font-size: 25px;
    color: #004d40;
	line-height: normal;
}

.tagline::before {
	content: '“';
}

.tagline::after {
	content: '”';
}

/* RATING */
.rating {
    color: #004d40;
    margin-top: 10px;
}

/* DATEPICKER COLORS */
.datepicker-date-display, .datepicker-table-wrapper .is-selected {
	background-color: #004d40;
}

.datepicker-container .btn-flat, .datepicker-table-wrapper .is-today * {
	color: #004d40;
}


::placeholder {
	color: rgba(0,0,0,0.7);
}

.picker {
	margin-left: 10px;
}

.vote {
	margin-top: 10px;
}