img {
    width: 12%;
    display: inline-block;
}
nav {
    margin: 0;
    background-color: #882675;
    color: #ffffff;
    text-decoration: none;
    justify-content: center;
}

.waves-effect {
    background-color: #882675;
}

.btn-floating {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}
