nav {
	position: fixed;
	top: 0;
	z-index: 1;
}

.container {
	margin-top: 80px;
}

.left-col {
	position: sticky;
}

img {
	max-height: 35vh;
	margin: 10px;
}

li > ul {
	padding-left: 30px;
}

li > ul > li {
	list-style-type: circle;
}

.tagline::before, .tagline::after {
	font-family: Cambria, serif;
	font-size: 25px;
	line-height: normal;
}

.tagline::before {
	content: '“';
}

.tagline::after {
	content: '”';
}

.datepicker-date-display, .datepicker-table-wrapper .is-selected {
	background-color: #004d40;
}

strong, .datepicker-container .btn-flat, .datepicker-table-wrapper .is-today * {
	color: #004d40;
}

::placeholder {
	color: rgba(0,0,0,0.7);
}

.picker {
	margin-left: 10px;
}

.vote {
	margin-top: 10px;
}